/*------------------ style-m starts ---------------------- */

.page-main > * {
  max-width: 1600px;
}

.multishipping_filters_cart .one_filter_cart label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}
.multishipping_cart_wrapper {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-direction: column;
}
.multishipping_cart_wrapper .multishipping_cart_header,
.multishipping_cart_wrapper .multishipping_cart_body,
.multishipping_cart_wrapper .multishipping_cart_footer {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

.multishipping_cart_wrapper .multishipping_cart_header.sticky-header {
  position: relative;
  z-index: 9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}
.multishipping_cart_wrapper .address_list_product {
  width: 45%;
  box-sizing: border-box;
  background: var(--color-white);
}

.multishipping_cart_wrapper .address_list_product .table-header {
  padding: 10px;
  border-top: 1px solid var(--body-back);
  border-bottom: 1px solid var(--body-back);
}
.table .row-table {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid var(--body-back);
}
.table .col {
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
.table .col.col-05 {
  width: 3.125%;
}
.table .col.col-1 {
  width: 6.25%;
}
.table .col.col-15 {
  width: 9.375%;
}
.table .col.col-2 {
  width: 12.5%;
}
.table .col.col-25 {
  width: 15.625%;
}
.table .col.col-3 {
  width: 18.75%;
}
.table .col.col-31 {
  width: 16.66%;
}
.table .col.col-32 {
  width: 20%;
}
.table .col.col-4 {
  width: 25%;
}
.table .col.col-7 {
  width: 43.75%;
}
.table .col.col-9 {
  width: 56.25%;
}
.table .col.col-95 {
  width: 59.375%;
}
.table .col.col-8 {
  width: 50%;
}
.table .col.col-10 {
  width: 62.5%;
}
.table .col.col-11 {
  width: 68.75%;
}
.table .col.border-right {
  border-right: 1px solid var(--body-back);
}
.table .col.align-right {
  text-align: right;
}
.table .col.align-center {
  text-align: center;
}
.table .edit-column svg {
  cursor: pointer;
}
.table .table-header .col {
  font-weight: bold;
}
.table .table-body .row-table:last-child {
  border-bottom: none;
}
.theme-color-btn,
.black-white-btn,
.trans-color-btn {
  border-radius: 20px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  text-transform: none;
}
.theme-color-btn,
.theme-color-btn:hover,
.theme-color-btn:focus {
  color: var(--color-white);
  background-color: var(--color-bordo);
  border: 1px solid var(--color-bordo);
}
.trans-color-btn {
  background-color: transparent;
  color: var(--color-bordo);
  border: 1px solid var(--color-bordo);
}
a.trans-color-btn:hover,
.trans-color-btn:hover,
.trans-color-btn:focus {
  background-color: var(--body-back);
  border: 1px solid var(--color-bordo);
}
.black-white-btn {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}
.black-white-btn:hover,
.black-white-btn:focus {
  background-color: var(--body-back);
  border: inherit;
  border: 1px solid var(--color-black);
}

.multishipping_cart_wrapper .address_list_product .table-header .row-table {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom-width: 0;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .col {
  padding: 0;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 10px;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all
  button,
.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all
  .quote-details-items
  .actions-toolbar
  > .action,
.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all
  .cart.table-wrapper
  .actions-toolbar
  > .action,
.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all
  .action-gift {
  font-size: 12px;
  text-align: left;
  text-transform: initial;
  padding: 0 5px;
  line-height: 12px;
  height: 35px;
  font-weight: 500;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all
  input {
  height: 35px;
  padding: 0 5px;
  text-align: center;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-header
  .row-table
  .set-all
  input.valid-error {
  border: 1px solid var(--color-denied);
}

.multishipping_cart_wrapper .address_list_product .table-body {
  border-bottom: 1px solid var(--body-back);
}
.multishipping_cart_wrapper .address_list_product .table-body .no-data-found,
.table .row-table .no-data-found {
  text-align: center;
  padding: 50px 0;
  font-size: 16px;
  width: 100%;
}

.multishipping_cart_wrapper .address_list_product .table-body .row-table {
  height: 60px;
  box-sizing: border-box;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table.disabled_row
  .product_action
  .delete:hover {
  cursor: default;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table.disabled_row
  .product_action
  .delete:hover:before {
  color: #a1a1a1;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table
  .img-product {
  padding: 0;
  text-align: center;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table
  .img-product
  a {
  width: 70%;
  display: inline-block;
  padding: 5%;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table
  .product_url
  span {
  background-repeat: no-repeat;
  float: left;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table
  .product_url
  span.is_carrier {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  /* background-image: url("../images/is_carrier.png"); */
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table
  .product_url
  span.is_new {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  /* background-image: url("../images/is_new.png"); */
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .row-table
  .product_url
  a {
  text-decoration: none;
  color: var(--color-black);
}

.multishipping_cart_wrapper .address_list_product .table-body .product_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.multishipping_cart_wrapper .address_list_product .add_product_qty {
  color: var(--color-white);
  background: var(--color-bordo);
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 1;
  padding: 0;
  font-family: arial;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .product_action
  input[type="text"],
.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .product_action
  input[type="number"] {
  max-width: 40px;
  height: 24px;
  padding: 0 5px;
  text-align: center;
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .product_action
  input[type="text"].valid-error,
.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .product_action
  input[type="number"].valid-error {
  border: 1px solid var(--color-denied);
}

.multishipping_cart_wrapper .address_list_product button.delete {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.multishipping_cart_wrapper .address_list_product button.delete svg {
  fill: #a1a1a1;
  height: 21px;
}
.multishipping_cart_wrapper .address_list_product button.delete:hover svg {
  fill: var(--color-bordo);
}

.multishipping_cart_wrapper
  .address_list_product
  .table-body
  .product_action
  .delete:hover:before {
  color: var(--color-bordo);
}

.multishipping_cart_wrapper .address_list_product .table-body p {
  font-size: 13px;
  max-width: 100%;
  white-space: normal;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
}

.multishipping_cart_wrapper .address_list_product .table-body .single-price {
  font-size: 14px;
  font-weight: 500;
}

.multishipping_cart_wrapper .multishipping_cart_footer {
  background: var(--color-white);
  margin: 0 auto;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1570px;
  width: 100%;
}
.multishipping_cart_wrapper .multishipping_cart_footer.sticky-bottom {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 44px;
  left: 0;
  right: 0;
  background: var(--body-back);
}

.multishipping_cart_wrapper
  .multishipping_cart_footer.sticky-bottom
  .address_list_product.table {
  background: var(--body-back);
}

.multishipping_cart_wrapper
  .multishipping_cart_footer.sticky-bottom
  .address_list_product
  .row-table {
  height: 40px;
  align-items: center;
  padding: 0;
}

.multishipping_cart_wrapper
  .multishipping_cart_footer.sticky-bottom
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table {
  height: 40px;
}

.multishipping_cart_wrapper
  .multishipping_cart_footer.sticky-bottom
  .address_list_total
  .table_grand_total {
  height: 40px;
}

.multishipping_cart_wrapper .address_list_qty {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--body-back);
  border-left: 1px solid var(--body-back);
}
.multishipping_cart_wrapper
  .multishipping_cart_footer:not(.sticky-bottom)
  .address_list_qty,
.multishipping_cart_wrapper
  .multishipping_cart_footer:not(.sticky-bottom)
  .address_list_total {
  border-top: 1px solid var(--body-back);
}

.multishipping_filters_cart {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.multishipping_filters_cart .count_show_qty {
  width: 100%;
  margin: 0 -10px;
}

.multishipping_cart_wrapper .one_filter_cart.product_filter_header {
  display: grid;
  margin: 0;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-column-gap: 10px;
}

.category-list {
  grid-column: auto/span 3;
}

.category-list .basic-multi-select > div {
  min-height: 28px;
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}
.category-list .basic-multi-select > div > div {
  padding: 0 8px;
}
.category-list .basic-multi-select > div > div:nth-child(2) > div {
  padding: 0;
}
.category-list .basic-multi-select div[data-value] {
  margin: 0 !important;
  padding: 0 !important;
}

.product-attr-list {
  grid-column-end: span 1;
  margin: 4px 0 0;
}
.product-attr-list select,
.filter_product_search_wrapper input {
  width: 100%;
  max-width: 100%;
}
.filter_product_search_wrapper {
  grid-row-start: 4;
  width: 100% !important;
  display: block !important;
  max-width: 100%;
  grid-column: auto/span 2;
  margin: 4px 0 0;
}
.multishipping_cart_wrapper .product_filter_header input {
  max-width: 200px;
  box-sizing: border-box;
}
.product_list_clear_filter {
  grid-row-start: 4;
  display: flex;
  justify-content: right;
  grid-gap: 5px;
  gap: 5px;
  flex: 0 0 32%;
}
.product_filter_header .product_list_clear_filter {
  margin-top: 5px;
}
.product_list_clear_filter button {
  margin: 0 !important;
}

.multishipping_cart_wrapper .location_list_qty_header,
.multishipping_cart_wrapper .location_qty_filter_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
}
.multishipping_cart_wrapper .location_list_qty_header {
  column-gap: 5px;
}
.multishipping_cart_wrapper .location_list_qty_header > input[type="text"] {
  max-width: 150px;
  box-sizing: border-box;
}
.multishipping_cart_wrapper .location_list_qty_header select {
  max-width: 90px;
}
.multishipping_cart_wrapper .location_list_qty_header .one_filter_cart {
  max-width: 280px;
}
.multishipping_cart_wrapper .location_list_qty_header .one_filter_cart input {
  position: relative;
  top: 2px;
  margin: 0 5px 0 0px;
}
.multishipping_cart_wrapper .location_list_qty_header .one_filter_cart select {
  max-width: 80px;
  padding: 0;
}
.multishipping_cart_wrapper .location_qty_filter_header div.pagination {
  min-height: 36px;
}
.multishipping_cart_wrapper .product_filter_header input {
  max-width: 100%;
}
.multishipping_cart_wrapper .count_show_qty {
  min-height: 29px;
  border-bottom: 1px solid var(--body-back);
  background: var(--color-white);
  padding: 5px 10px;
  text-align: left;
  display: flex;
  align-items: center;
}
.show-qty-inner {
  flex: 0 0 58%;
}
.multishipping_cart_wrapper .count_show_qty p {
  line-height: 29px;
  margin: 0;
}
.multishipping_cart_wrapper .count_show_qty b {
  color: var(--color-bordo);
}
.multishipping_cart_wrapper .count_show_qty span {
  font-weight: 500;
  color: var(--color-bordo);
}

.multishipping_cart_wrapper .location_list_qty_table_wrapper {
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider {
  width: 100%;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table {
  background: #fafafa;
}

.multishipping_cart_body .address_list_slider {
  min-height: 330px;
}
.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .slider_location_counts {
  height: 14px;
  width: 100%;
  border: 1px solid var(--body-back);
  border-width: 1px 0px 1px 0px;
  position: relative;
  background-color: var(--color-white);
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .slider_location_counts
  .slider {
  position: absolute;
  background: var(--color-bordo);
  height: 8px;
  border-radius: 10px;
  margin: 3px;
  -webkit-transition: left ease-out 0.25s;
  -moz-transition: left ease-out 0.25s;
  -o-transition: left ease-out 0.25s;
  transition: left ease-out 0.25s;
}

.multishipping_cart_wrapper
  .address_list_qty_table
  .col.border-right:nth-child(6n) {
  border-right: transparent;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  input {
  text-align: center;
  padding: 0;
  width: 100%;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-po
  input {
  font-size: 12px;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .po-field {
  font-size: 12px;
  font-weight: 600;
  display: block;
  border: 1px solid #e0e1e2;
  text-align: center;
  padding: 3px 0;
  height: 23px;
  box-sizing: border-box;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-name {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  line-height: 22px;
  box-sizing: border-box;
  text-align: center;
}
ul.pagination {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.location-pagination ul.pagination {
  column-gap: 5px;
}
.location-pagination ul.pagination li {
  margin: 0;
}
.location-pagination li.active {
  display: none;
}
/* -----------pagination--------------------------- */

.paginationItem {
  background: var(--color-white);
  padding-left: 5px;
  padding-right: 5px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.paginationItem_1 {
  background: var(--color-white);
  padding-left: 5px;
  padding-right: 5px;
  height: 45px;
  width: 45px;
  position: relative;
  border: none;
  margin: 5px 5px;
}

.paginationItem.active {
  color: #0f1111;
  font-weight: 500;
  border: 1px solid #0f1111;
  padding-left: 5px;
  padding-right: 5px;
}

div.pagination {
  display: block;
  margin-left: 10px;
  flex: 0 0 10%;
}
.location-pagination {
  display: flex;
  width: 100%;
  column-gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}
.address_list_product ul.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin: 5px -10px;
  align-items: center;
}
.address_list_product ul.pagination li.active a {
  background: var(--color-bordo);
  color: var(--color-white);
  border-radius: 50%;
  text-align: center;
  max-width: 25px;
  padding: 0 9px;
}
.address_list_product ul.pagination li {
  margin: 0 2px;
}
.address_list_product ul.pagination li a {
  color: var(--color-black);
  text-decoration: none;
  line-height: 25px;
  display: block;
  padding: 0 10px;
}
.address_list_product ul.pagination li a.first,
.address_list_product ul.pagination li a.last {
  font-size: 24px;
  position: relative;
  top: -2px;
  font-family: arial;
}
.address_list_product ul.pagination li a svg {
  position: relative;
  top: 4px;
}
.address_list_product ul.pagination li.disabled a {
  opacity: 0.3;
}
.address_list_qty .location-pagination button {
  color: var(--color-white);
  position: relative;
  background: var(--color-bordo);
  border: none;
  cursor: pointer;
  z-index: 99;
  padding: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.address_list_qty .location-pagination button svg {
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
}
.address_list_qty .location-pagination .disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/* -----------------/pagination---------------------- */
.address_list_qty_table,
.address_list_qty_table .table-header,
.address_list_qty_table .row-table {
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.address_list_qty_table .row-table .location-name {
  height: 100%;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-name
  .location-info {
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 78px;
  position: relative;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-name
  .location-info
  span {
  font-size: 14px;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-name
  .location-info
  .more-info {
  position: absolute;
  top: 0;
  background: var(--color-white);
  font-size: 14px;
  margin: 0 0 0 0;
  min-width: 86px;
  display: none;
  width: 100%;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-name
  .location-info
  .more-info
  span {
  line-height: 38px;
  display: block;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-name
  .location-info:hover
  .more-info {
  display: block;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .location-id {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table {
  height: 60px;
  box-sizing: border-box;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table:first-child
  .tooltip,
.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table:nth-child(2)
  .tooltip,
.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table:nth-child(3)
  .tooltip {
  top: calc(100% - 10px);
  z-index: 5;
  transform: translateX(-50%) translateY(0);
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table.first-row
  .tooltip {
  top: calc(100% - 10px);
  z-index: 5;
  transform: translateX(-50%) translateY(0);
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table.first-row
  + .row-table
  .tooltip,
.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table.first-row
  + .row-table
  + .row-table
  .tooltip {
  top: calc(100% - 10px);
  z-index: 5;
  transform: translateX(-50%) translateY(0);
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table
  .col {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multishipping_cart_wrapper
  .location_list_qty_table_wrapper
  .address_list_slider
  .table-body
  .row-table
  .img-product {
  max-width: 100%;
  max-height: 100%;
}
.multishipping_cart_wrapper .address_list_total {
  text-align: center;
  border-left: 1px solid var(--body-back);
  background-color: var(--color-white);
  width: 7%;
  box-sizing: border-box;
}

.multishipping_cart_wrapper .address_list_total .table_grand_total,
.multishipping_cart_wrapper .address_list_total .total_row {
  border-bottom: 1px solid var(--body-back);
  padding: 5px 10px;
  box-sizing: border-box;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multishipping_cart_wrapper .address_list_total .total_label {
  font-size: 16px;
  font-weight: 600;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--body-back);
}
.multishipping_cart_wrapper .address_list_total .btn-clear-cart {
  position: absolute;
  top: 8px;
  right: 11px;
}
.multishipping_cart_wrapper
  .address_list_slider
  .locations-total
  .total-column {
  border-bottom: 1px solid var(--body-back);
  padding: 5px 10px;
  box-sizing: border-box;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input[type="text"],
input[type="number"],
select {
  border: 1px solid #e0e1e2;
  height: 24px;
  padding: 0 10px;
  outline: none;
}
select {
  height: 26px;
}
.tooltip {
  position: absolute;
  background: var(--color-white);
  border: 1px solid var(--color-light);
  padding: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  font-size: 12px;
  width: 100%;
  max-width: 300px;
  top: 5px;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  box-sizing: border-box;
  pointer-events: none;
}
input.has-qty,
input.has-po {
  border: 1px solid #000000;
}
input.qty-changed,
input.po-changed {
  border: 1px solid #00cc00;
}
.loupe {
  font-family: "Linearicons";
  font-size: 14px;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  right: 5px;
  bottom: 3px;
  color: var(--body-back);
}
.loupe:after {
  content: "\ec22";
}
.multishipping_footer {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.multishipping_footer .update_order_but {
  border-radius: 20px;
  border: 2px solid var(--color-bordo);
  background: var(--color-white);
  max-width: 200px;
  width: 100%;
  color: var(--color-bordo);
  opacity: 1;
  cursor: pointer;
  padding: 7px 0;
}
.multishipping_footer .update_order_but[disabled] {
  opacity: 0.3;
  cursor: default;
}
.multishipping_footer a#go_to_shipping {
  border-radius: 20px;
  max-width: 200px;
  border: 2px solid var(--color-bordo);
  width: 100%;
  text-decoration: none;
  background-color: var(--color-bordo);
  color: var(--color-white);
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  padding: 7px 0;
  margin-left: 15px;
}
.multishipping_footer .exel-part {
  width: 40%;
}
@media (max-width: 1424px) {
  .multishipping_footer .exel-part {
    width: 45%;
  }
}
.multishipping_footer .exel-part h3 {
  font-size: 26px;
  font-weight: 300;
  position: relative;
  display: block;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.multishipping_footer .exel-part h3:after {
  content: "";
  display: block;
  background-color: var(--color-bordo);
  height: 2px;
  width: 88px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.multishipping_footer .exel-part p {
  font-size: 18px;
  margin: 0 0 0.8rem;
}
.multishipping_footer .exel-part .exel-part-action {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.multishipping_footer .exel-part .exel-part-action .download-link {
  flex: 0 0 47%;
}
.multishipping_footer .exel-part .exel-part-action a {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  background: transparent;
  color: var(--color-black);
  padding: 0;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}
.multishipping_footer .exel-part .import-execel-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.multishipping_footer .exel-part .import-execel-wrapper label {
  text-align: center;
  cursor: pointer;
  flex: 0 0 48%;
  box-sizing: border-box;
  text-transform: initial;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 20px;
  display: inline-block;
  border-radius: 50px;
  min-width: 200px;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  background: var(--color-white);
}
.multishipping_footer .exel-part .import-execel-wrapper label:hover {
  background: transparent;
}

.multishipping_footer .exel-part .execel-link-wrapper .download-content {
  flex: 0 0 100%;
}

.multishipping_footer .exel-part .execel-link-wrapper .download-content p {
  font-size: 16px;
}
.multishipping_footer .total_block {
  width: 30%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1424px) {
  .multishipping_footer .total_block {
    width: 45%;
  }
}
.multishipping_footer .total_block .total_block_data {
  width: 100%;
}
.multishipping_footer .total_block .total_block_data .row {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 5px;
}

.multishipping_footer .total_block .total_block_data .row > span {
  font-size: 18px;
  font-weight: 500;
}

.multishipping_footer .total_block .total_block_data .row.full-total {
  margin-top: 15px;
}

.multishipping_footer .total_block .total_block_data .row.full-total .label {
  font-weight: 600;
  font-size: 20px;
}

.multishipping_footer .total_block .total_block_data .row.full-total .value {
  color: var(--color-bordo);
  font-size: 20px;
}

.multishipping_footer
  .total_block
  .total_block_data
  .row.action-buttons.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--body-back);
  width: 100%;
  margin: 0;
  justify-content: center;
  padding: 5px;
}

.multishipping_footer .total_block .total_block_data button.disabled_but:hover,
.multishipping_footer
  .total_block
  .total_block_data
  .quote-details-items
  .actions-toolbar
  > .action.disabled_but:hover,
.multishipping_footer
  .total_block
  .total_block_data
  .cart.table-wrapper
  .actions-toolbar
  > .action.disabled_but:hover,
.multishipping_footer
  .total_block
  .total_block_data
  .action-gift.disabled_but:hover {
  color: var(--color-bordo);
  border: 2px solid var(--color-bordo);
}

.multishipping_footer .total_block .total_block_data a.place-order:hover {
  background-color: var(--color-denied);
  color: var(--color-white);
  border-color: var(--color-denied);
}

.multishipping_footer .total_block .total_block_data a.disabled_but {
  opacity: 0.3;
  cursor: default;
}

.multishipping_footer
  .total_block
  .total_block_data
  a.disabled_but.place-order:hover {
  background-color: var(--color-bordo);
  border-color: var(--color-bordo);
}
.multishipping_footer .csv_import_status {
  color: var(--color-bordo);
}
*.hidden_el {
  display: none !important;
}
.table .row-table.hover_back,
.total_row.hover_back {
  background-color: var(--white-hover);
}
.table .row-table.disabled_row,
.total_row.disabled_row {
  opacity: 0.3;
}
.table .row-table.disabled_row.hover_back,
.total_row.disabled_row.hover_back {
  background: none;
}

.multishipping_cart_wrapper.single-store .location_list_qty_header {
  visibility: hidden;
}

.multishipping_cart_wrapper.single-store .filter_location_qty_search_wrapper {
  visibility: hidden;
}

.multishipping_cart_wrapper.single-store
  .filter_location_qty_value_search_wrapper {
  visibility: hidden;
}

.multishipping_cart_wrapper.single-store
  .address_list_product
  .table-body
  .product_action {
  display: none;
}
.page-main .page-title-wrapper {
  margin-bottom: 10px;
}
.clear-popup-filters {
  text-align: right;
  padding-right: 11%;
  min-height: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.clear-popup-filters a {
  padding: 4px 10px;
  line-height: 20px;
  border-radius: 28px;
  margin-left: 15px;
}
.popup-progress .progress-indicator {
  /* background-image: url("../images/load-cart.png"); */
  background-repeat: no-repeat;
  background-position: center 0px;
  min-height: 59.5px;
  min-width: 340px;
}
.popup-progress .progress-indicator.stage1 {
  background-position: center 0px;
}
.popup-progress .progress-indicator.stage2 {
  background-position: center -59.5px;
}
.popup-progress .progress-indicator.stage3 {
  background-position: center -119px;
}
.popup-progress .progress-indicator.stage4 {
  background-position: center -178.5px;
}
.popup-progress .progress-info {
  width: 400px;
  display: inline-flex;
}
.popup-progress .progress-info div {
  display: inline-block;
  width: 25%;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: var(--color-grey);
}

.popup-progress .cart-loading-progress .popup-link-button {
  padding: 0 20px;
}
.popup-progress .cart-loading-progress .popup-link-button a {
  margin: 15px auto 0;
  display: block;
  text-align: center;
  color: var(--color-bordo);
  font-weight: 500;
  font-size: 17px;
  border: none;
}
.popup-progress .cart-loading-progress .rendering {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}
.multishipping_cart_wrapper {
  border-bottom: 1px solid var(--color-light);
}
.multishipping_cart_wrapper .multishipping_cart_header {
  transition: all 0.1s ease-in-out;
}
.multishipping_cart_wrapper .multishipping_cart_header .address_list_total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.multishipping_cart_wrapper .multishipping_cart_body .address_list_total {
  padding-bottom: 0px;
}
.multishipping_cart_wrapper
  .multishipping_cart_body
  .address_list_slider
  .address_list_qty_table {
  border-bottom: 1px solid var(--body-back);
}

.multishipping_cart_wrapper
  .multishipping_cart_footer
  .address_list_slider
  .address_list_qty_table {
  border-bottom: 1px solid var(--body-back);
}
.one_filter_cart_title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  color: var(--color-bordo);
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid var(--body-back);
}
.multishipping_cart_wrapper
  .one_filter_cart.product_filter_header
  .category-list {
  width: 100%;
  max-width: 100%;
  margin: 5px 0px 0;
}

#mycart_modal .loader-wrapper .footer button {
  padding: 10px 20px;
  border-radius: 28px;
  background-color: var(--color-white);
  outline: none !important;
  border: 2px solid var(--color-bordo);
  cursor: pointer;
  color: var(--color-bordo);
  font-weight: 500;
}

#mycart_modal .loader-wrapper .footer button:not(:first-child) {
  margin-left: 20px;
}

/* LOADER CSS */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.loader.hidden {
  display: none;
}

.loader .loader-wrapper {
  background: #fff;
  box-shadow: #666 0 0 15px;
  width: 25%;
  margin: 0 auto;
  top: 20%;
  position: relative;
  padding: 35px;
}
.loader .title {
  font-size: 26px;
  margin: 0 0 15px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.loader .content {
  font-size: 16px;
  text-align: center;
  padding: 15px;
}
.loader .content .footer {
  margin-top: 15px;
  text-align: center;
  padding-top: 15px;
}
